/* color scheme*/

/* first color */
$white      : #FFF;
$ligth-gray : #D1D1D1;
$isabelline : #ECECEC;

/* second color */
$smoky-black : #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8;

/* thrid color */
$flame          : #E4572E;
$light-red-ochre: #E87554;
$pastel-pink    : #F2B2A0;

/* Font family */
$oldStandar     : 'Old Standar TT', serif;
$raleway        : 'Raleway', sans-serif;

/* Font weight */
$regular    : 400;
$semi-bold  : 600;
$bold       : 700;

/* Font size */
$xxx-large : 50px;
$xx-large  : 30px;
$x-large   : 20px;
$large     : 18px;
$medium    : 16px;
$small     : 14px;
$x-small   : 12px;